

#masthead-brand {
  grid-area: masthead-brand;
  
}
#navbar {
  grid-area: navbar;
}
#headline {
  grid-area: headline;
}
#contact-button {
  grid-area: contact-button;
}
#infopanel1 {
  grid-area: infopanel1;
}
#infopanel2 {
  grid-area: infopanel2;
}
#infopanel3 {
  grid-area: infopanel3;
}
#process1 {
  grid-area: process1;
}
#process2 {
  grid-area: process2;
}
#process3 {
  grid-area: process3;
}
#calltoaction {
  grid-area: calltoaction;
}
#calltoaction-buttons {
  grid-area: calltoaction-buttons;
}

#footer {
  grid-area: footer;
}

#sub-wrapper {
  grid-area: sub-wrapper;
}


  .wrapper {
    display: grid;
    grid-gap: 20px;
    padding: 0 20px;
    grid-template-areas: 
      "masthead-brand"
      "navbar"
      "headline"
      "contact-button"
      "infopanel1"
      "infopanel2"
      "infopanel3"
      "sub-wrapper"
      "calltoaction"
      "calltoaction-buttons"
      "footer"
      ;
  }


  @media (min-width: 700px) {
    .wrapper {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
        "masthead-brand        navbar                navbar              "
        "headline              headline              .                   "
        "contact-button        .                     .                   "
        "infopanel1            infopanel2            infopanel3          "
        "sub-wrapper           sub-wrapper           sub-wrapper         "
        "calltoaction          calltoaction          calltoaction        "
        "calltoaction-buttons  calltoaction-buttons  calltoaction-buttons"
        "footer                footer                footer              "
     }
     .sub-wrapper {
      background: blue;

      grid-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
      "process1   process2    process3"
      ;
    }

     nav ul {
       flex-direction: column;
     }
     .sub-wrapper > div {
       margin: 0 15px;
       
     }
  }