
@import "assets/master";

@media (min-width: 700px) {
    .navbar-div {
        background: none;
        box-shadow: none;
        margin: 37px 0 0 0;
    }

    .masthead-brand {
        background-position-x: left;
    }
    .navbar-link-contact {
        background: $color-secondary;
        box-shadow: 0px 4px 0px $color-primary;
        font-style: $font-style-button;
        font-weight: $font-weight-button;
        font-family: $font-family-header;
        font-size: 18px;

        position: absolute;
        right: 0;
        top: 39px;
        padding: 7px 25px;
    }
    .navbar-contacticon {
        margin-left: 7px;
    }
  }