@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Proza+Libre&display=swap');

$color-primary: #E6B642;
$color-secondary: #161E27;

$font-family-header: 'EB Garamond', serif;
$font-family-content: 'Proza Libre', sans-serif;

$lg-font-size-h1: 3.375rem;
$sm-font-size-h1: 2.625rem;

